In [18]:
import warnings
warnings.filterwarnings('ignore')

In [19]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [22]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sb
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
import math
import pylab
import scipy.stats as stats
%matplotlib inline
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

In [3]:
# Loading clean listing dataset
file_path = "Resources/listings_data_cleaned.csv"
df = pd.read_csv(file_path)
df.head()

,id,host_id,host_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,zip
0,2539,2787,9.0,Kensington,40.64529,-73.97238,Private room in rental unit,Private room,2,1.0,1.0,$299.00,30,21,9,4.89,11218
1,5121,7356,2.0,Bedford-Stuyvesant,40.68535,-73.95512,Private room in rental unit,Private room,2,1.0,1.0,$60.00,30,5,50,4.52,11216
2,45910,204539,7.0,Ridgewood,40.70309,-73.89963,Entire townhouse,Entire home/apt,16,5.0,10.0,$425.00,30,30,13,4.42,11385
3,5136,7378,1.0,Sunset Park,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,2.0,2.0,$275.00,21,0,3,5.00,11215
4,77765,417504,30.0,Greenpoint,40.73777,-73.95366,Room in boutique hotel,Hotel room,2,1.0,1.0,$308.00,2,15,42,4.90,11109

In [4]:
# Convert "price" from object to int
df["Price"] = df["price"].str.replace('[\$\,]', '', regex=True)
df["Price"]= pd.to_numeric(df["Price"])
df["Price"]

0        299.0
1         60.0
2        425.0
3        275.0
4        308.0
         ...
28005    125.0
28006    150.0
28007    157.0
28008    108.0
28009    140.0
Name: Price, Length: 28010, dtype: float64

In [5]:
df.head()

,id,host_id,host_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,zip,Price
0,2539,2787,9.0,Kensington,40.64529,-73.97238,Private room in rental unit,Private room,2,1.0,1.0,$299.00,30,21,9,4.89,11218,299.0
1,5121,7356,2.0,Bedford-Stuyvesant,40.68535,-73.95512,Private room in rental unit,Private room,2,1.0,1.0,$60.00,30,5,50,4.52,11216,60.0
2,45910,204539,7.0,Ridgewood,40.70309,-73.89963,Entire townhouse,Entire home/apt,16,5.0,10.0,$425.00,30,30,13,4.42,11385,425.0
3,5136,7378,1.0,Sunset Park,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,2.0,2.0,$275.00,21,0,3,5.00,11215,275.0
4,77765,417504,30.0,Greenpoint,40.73777,-73.95366,Room in boutique hotel,Hotel room,2,1.0,1.0,$308.00,2,15,42,4.90,11109,308.0

In [6]:
# Remove the price Column
df.drop(columns=["price"], inplace=True)

In [9]:
target = ["Price"]

In [7]:
df.head()

,id,host_id,host_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,minimum_nights,availability_30,number_of_reviews,review_scores_rating,zip,Price
0,2539,2787,9.0,Kensington,40.64529,-73.97238,Private room in rental unit,Private room,2,1.0,1.0,30,21,9,4.89,11218,299.0
1,5121,7356,2.0,Bedford-Stuyvesant,40.68535,-73.95512,Private room in rental unit,Private room,2,1.0,1.0,30,5,50,4.52,11216,60.0
2,45910,204539,7.0,Ridgewood,40.70309,-73.89963,Entire townhouse,Entire home/apt,16,5.0,10.0,30,30,13,4.42,11385,425.0
3,5136,7378,1.0,Sunset Park,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,2.0,2.0,21,0,3,5.00,11215,275.0
4,77765,417504,30.0,Greenpoint,40.73777,-73.95366,Room in boutique hotel,Hotel room,2,1.0,1.0,2,15,42,4.90,11109,308.0

In [24]:
# Create a linear regression object
reg = linear_model.LinearRegression()
reg.fit(df[["zip", "bedrooms", "minimum_nights", "review_scores_rating"]],df.Price)

LinearRegression()

In [25]:
#Look at the coefficient
reg.coef_

array([-8.34759170e-02,  1.21802016e+02, -3.21787160e-01,  1.01094996e+01])

In [26]:
#Look at the intercept
reg.intercept_

872.8158544395167

### Find price with a home of 11210 zip, 3.0 bedroomes, 4 minimum nights and 3.90 of review_scores_rating

In [28]:
reg.predict([[11210,3.0,4,3.90]])

array([340.59677271])