In [1]:
import pandas as pd
from sklearn.neighbors import BallTree
from sklearn.metrics import DistanceMetric
import numpy as np

In [2]:
df=pd.read_csv('uszips.csv',low_memory=False)

In [3]:
df.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16773.0,100.5,72001,Adjuntas,"{""72001"": 98.76, ""72141"": 1.24}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37083.0,472.1,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,45652.0,513.2,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,6231.0,54.3,72093,Maricao,"{""72093"": 82.28, ""72153"": 11.67, ""72121"": 6.05}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26502.0,275.7,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.81, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [4]:
df2=df[df.state_id == 'NY']

In [5]:
df2

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
1839,6390,41.27027,-71.98886,Fishers Island,NY,New York,True,NaN,61.0,5.8,36103,Suffolk,"{""36103"": 100}",Suffolk,36103,False,False,America/New_York
2583,10001,40.75064,-73.99728,New York,NY,New York,True,NaN,25026.0,15489.3,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
2584,10002,40.71597,-73.98692,New York,NY,New York,True,NaN,74363.0,34916.7,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
2585,10003,40.73184,-73.98915,New York,NY,New York,True,NaN,54671.0,36928.8,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
2586,10004,40.69431,-74.01835,New York,NY,New York,True,NaN,3310.0,2805.2,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4403,14898,42.05729,-77.43482,Woodhull,NY,New York,True,NaN,1772.0,11.2,36101,Steuben,"{""36101"": 100}",Steuben,36101,False,False,America/New_York
4404,14901,42.07363,-76.74137,Elmira,NY,New York,True,NaN,15581.0,181.2,36015,Chemung,"{""36015"": 100}",Chemung,36015,False,False,America/New_York
4405,14903,42.12372,-76.87771,Elmira,NY,New York,True,NaN,7186.0,128.2,36015,Chemung,"{""36015"": 100}",Chemung,36015,False,False,America/New_York
4406,14904,42.07007,-76.80798,Elmira,NY,New York,True,NaN,15109.0,904.6,36015,Chemung,"{""36015"": 100}",Chemung,36015,False,False,America/New_York
4407,14905,42.08692,-76.84284,Elmira,NY,New York,True,NaN,8330.0,866.8,36015,Chemung,"{""36015"": 100}",Chemung,36015,False,False,America/New_York

In [6]:
df2=df2[['zip','lat','lng']]

In [7]:
df2.sample(50)

        zip       lat       lng
3301  12444  42.24942 -74.28993
3300  12443  41.93388 -74.08536
3888  13652  44.43579 -75.21338
2806  10964  41.01642 -73.91431
3052  11787  40.85338 -73.21089
3751  13328  42.98247 -75.42836
3453  12770  41.44681 -74.85028
3575  12955  44.78934 -73.95855
4272  14709  42.35279 -77.98267
3236  12189  42.73618 -73.71688
3030  11757  40.68892 -73.37356
2830  10998  41.33118 -74.53989
3704  13162  43.18833 -75.71823
3277  12417  41.90730 -73.98943
3319  12465  42.15278 -74.46725
4316  14770  42.04680 -78.29963
3796  13424  43.15228 -75.36291
2988  11702  40.65155 -73.33824
4097  14145  42.73154 -78.43205
3016  11739  40.71058 -73.16275
4330  14801  42.09718 -77.28461
3499  12838  43.34354 -73.40756
3782  13404  43.73842 -75.48089
3852  13612  43.98571 -75.76911
3793  13418  42.84519 -75.38213
2737  10573  41.01676 -73.67735
2914  11379  40.71709 -73.88056
3039  11769  40.73703 -73.12929
3124  12027  42.92122 -73.90872
3803  13437  43.59677 -75.80383
2812  10974  41.15826 -74.18993
2732  10560  41.33303 -73.60264
3255  12222  42.68637 -73.82656
3948  13757  42.40915 -74.89321
3360  12520  41.43362 -74.00693
2975  11577  40.78288 -73.63910
2642  10172  40.75527 -73.97431
4129  14223  42.97348 -78.84612
3794  13420  43.65069 -74.96190
3573  12952  44.71181 -73.91362
2808  10968  41.03976 -73.91804
3466  12787  41.79310 -74.83650
3987  13834  42.54903 -74.96727
3687  13141  42.76684 -76.18616
2807  10965  41.06176 -74.01286
2761  10704  40.91911 -73.86187
3482  12816  43.05085 -73.37829
2756  10605  41.00950 -73.74518
2671  10457  40.84571 -73.89794
3590  12973  44.30279 -74.59187

In [8]:
lats=pd.read_csv('NYC_listings_Clean2.csv',low_memory=False)

In [9]:

# DF1
coords = np.radians(df2[['lat', 'lng']])
dist = DistanceMetric.get_metric('haversine')
tree = BallTree(coords, metric=dist)

# DF2
coords = np.radians(lats[['latitude', 'longitude']])
distances, indices = tree.query(coords, k=1)
lats['zip'] = df2['zip'].iloc[indices.flatten()].values

In [10]:
lats

,Unnamed: 0,id,host_id,host_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,zip
0,0,2539,2787,9.0,Kensington,40.645290,-73.972380,Private room in rental unit,Private room,2,1.0,1.0,$299.00,30,21,9,4.89,11218
1,1,2595,2845,6.0,Midtown,40.753560,-73.985590,Entire rental unit,Entire home/apt,1,NaN,1.0,$175.00,30,0,49,4.68,10110
2,2,5121,7356,2.0,Bedford-Stuyvesant,40.685350,-73.955120,Private room in rental unit,Private room,2,1.0,1.0,$60.00,30,5,50,4.52,11216
3,3,45910,204539,7.0,Ridgewood,40.703090,-73.899630,Entire townhouse,Entire home/apt,16,5.0,10.0,$425.00,30,30,13,4.42,11385
4,4,5136,7378,1.0,Sunset Park,40.662650,-73.994540,Entire rental unit,Entire home/apt,4,2.0,2.0,$275.00,21,0,3,5.00,11215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,39876,43728504,23049030,5.0,Rockaway Park,40.581060,-73.829850,Entire home,Entire home/apt,2,1.0,1.0,$157.00,3,0,33,4.91,11694
39877,39877,44578886,48009648,1.0,Upper West Side,40.784590,-74.012530,Entire rental unit,Entire home/apt,4,1.0,2.0,$108.00,3,0,52,4.79,10069
39878,39878,46355090,371552251,1.0,Bellerose,40.723410,-73.722350,Entire rental unit,Entire home/apt,2,1.0,2.0,$140.00,3,0,11,4.45,11426
39879,39879,698195550745703156,151487807,1.0,Williamsburg,40.709192,-73.970121,Entire rental unit,Entire home/apt,4,2.0,2.0,$400.00,30,0,0,NaN,11249
39880,39880,48971505,46201,3.0,Ellis Island,40.718350,-74.044160,Private room in rental unit,Private room,1,1.0,NaN,$40.00,1,0,15,4.47,10282

In [11]:
lats.to_csv('listings_with_zips.csv')